<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./header.component.css">
    <!-- Assurez-vous d'inclure le fichier CSS correspondant -->
    <title>Votre Site One Piece</title>
</head>

<body>
    <header>
        <nav class="navbar">
            <div class="navbar-logo">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRFPXtCDCaWlhb1j-pWdPz9lt6oMm82uzBwelQRpwUR&s" alt="Logo One Piece">
            </div>
            <div class="navbar-text">
                <span>{{ changingText }}</span>
            </div>
        </nav>
    </header>
    <!-- Le contenu de votre site web va ici -->
</body>

</html>